<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <%if(errorMessage){ %>
            <% errorMessage.forEach(error=>{%>
            <div class="user-message user-message--error">
                <%= error.msg %>
            </div>
            <%})%>
        <%}%>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" autocomplete="off"  name="email" id="email" required value="<%= oldInput.email%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" autocomplete="off"  name="password" id="password" required value="<%= oldInput.password%>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" autocomplete="off"  name="confirmPassword" id="confirmPassword" required value="<%= oldInput.confirmPassword%>">
            </div>
            <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
            <button class="btn" type="submit">Register</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>